/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.01.2021, 13:23:31
    Author     : brahman
*/

body {
    display: block;
    margin: 8px;
}
table {
    border: 1px solid gray;
    border-spacing: 0px;
    border-collapse: separate;
}
td, th {    
    border-spacing: 0px;
    border: 1px solid gray;
    padding: 5px;

}
a.active {
    font-weight: bold;
    color: black;
}